
<center>
  <h4>Add Images to this Folder </h4>
<%= form_for Image.new, html: { multipart: true } do |f| %>
    <%= f.hidden_field :patient_id, value: @patient.id %>
  <div class="field">
    Image Description:<br>
    <%= f.text_field :image_desc %>
  </div>
  <div class="filefield">
  Attach your image file:
  <%= f.file_field :image_file %>
  </div>
<br>

  <div class="actions">
    <%= f.submit "Add This Image"  %>
  </div>

<% end %>
</div>