<%= render 'sidebar' %>

<div class="left-pad">
<br>
<h3><%= @patient.name %>, <%= @patient.parent_id %></h3>
<hr>
<h4>Images Currently Available:</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.images.each do |image| %>
      <tr>
        <td><%= image.created_at.strftime("%b %d %Y") %></td>
        <td><%= image.image_desc %></td>
        <td><%= image_tag image.image_file(:thumb) %></td> 
        <% if user_signed_in? %>
        <td><%= link_to (image_tag("trash.png", width: '15', height: '15')) + " Delete Image", image, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
        <% end %>

</tr>
    <% end %>
  </tbody>
</table>



<%= render 'form' %>
</div>

<%= form_for(@patient) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    Recipient's Email:<br>
    <%= f.email_field :email %>
  </div>

    <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<div class="center">
<%= link_to 'View Patient Images', @patient %> | <%= link_to 'Back', patients_path %>
