<%= render 'sidebar' %>
<% if user_signed_in? %>
  
<div class="sign_out_right">
<%= link_to (image_tag("out.png", width: '15', height: '15')) + " Sign Out", destroy_user_session_path,  :method=>'delete' %>
</div>

<% end %>
<div class="left-pad">
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Patient ID</th>
      <th>Created on</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>   &nbsp <%= patient.name %></td>
        <td><%= patient.identifier %></td>
        <td><%= patient.created_at.strftime("%B %d, %Y at %H:%M") %></td>
        <td><%= link_to 'View Slideshow', patient %></td>
        <!-- <td><%= link_to "Share", patient_share_path, :patient_id => patient.id, :patient_name => patient.name %></td> -->
        <td><%= link_to 'Add Files & Share Folder', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy Patient Folder', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
<%= will_paginate @patient %>

<%= button_to '+ Create new patient folder', new_patient_path, :class => 'btn btn-large btn-success text-center', :method => :get  %>
<br>


