<% if user_signed_in? %><%= render 'sidebar' %><% end %>
<div class="left-pad">
<br>
<h3><%= @patient.name %>, <%= @patient.parent_id %></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.images.each do |image| %>
      <tr>
        <td><%= image.created_at.strftime("%b %d %Y") %></td>
        <td><%= image.image_desc %></td>
      <td><%= image_tag image.image_file.url %></td>
</tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<div class="center">
<%= link_to 'Add Image Files', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<% end %>
</div>