<p id="notice"><%= notice %></p>

<p class="header">
  <strong>Patient name:</strong>
  <%= @image.patient_name %>  |
    <strong>Secondary Identifier:</strong>
  <%= @image.patient_id %>   |

  <strong>Image description:</strong>
  <%= @image.image_desc %>   |

  <strong>Patient DOB:</strong>
  <%= @image.dob %>

</p>
<%= image_tag @image.image_file.url %>
<br>
<%= link_to "Download", @image.image_file.url(:original, false) %>

<br>
<%= link_to 'Back', images_path %>
